* {
  margin: 0;
  padding: 0;
}

html {
  --dark-grey: #52525b;
  --middle-grey: #bbb;
  --light-grey: rgb(204, 203, 203);
}

body {
  background-color: rgb(20, 20, 20);
  color: whitesmoke;
  font-family: monospace;
  min-height: 100vh;
  height: 100%;
  min-width: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1.5fr 7fr 0.5fr;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid purple;
}



/* Header Section */

header {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 3.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 12px violet;
}



/* Main Section */

main {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: repeat(2, 1fr);
}

#main-top,
#main-left,
#main-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid blueviolet;
}

#main-top {
  grid-area: 1 / 1 / 2 / 3;
}

#info {
  color: whitesmoke;
  font-weight: 500;
  font-size: 2rem;
}

#main-left {
  grid-area: 2 / 1 / 3 / 2;
}

#main-right {
  grid-area: 2 / 2 / 3 / 3;
}

.grid-title {
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

#cpu-gb {
  height: 80%;
  width: 80%;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

.cell {
  background-color: #3a3a3b;
  border: 1px solid rgb(69, 69, 143);
  cursor: pointer;
}

.p-cell {
  background-color: #3a3a3b;
  border: 1px solid rgb(69, 69, 143);
}

.miss {
  background-color: rgb(143, 0, 0);
}

.hit {
  background-color: rgb(2, 112, 17);
  color: black;
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ship {
  background-color: rgb(100, 100, 199, 0.3);
}

#player-gb {
  height: 80%;
  width: 80%;


  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

/* Footer Section */

footer {
  grid-area: 3 / 1 / 4 / 2;
}

#footer {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: end;
  width: 100%;
  height: 100%;
}

#footer-text {  
  font-size: 1rem;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: 2px 2px 12px violet;
  width: 50%;
  padding-right: 1rem;
}

#github-icon {
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}

#github-icon img {
  height: 80%;
  margin-left: 1rem;
}

#github-icon img:hover {
  height: 85%;
}


/* Axis */

.horizontal {
  background-color: rgb(204, 203, 203);
  border-radius: 10px 0px 0px 10px;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.vertical {
  background-color: rgb(204, 203, 203);
  border-radius: 0px 10px 10px 0px;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.active-axis {
  color: black;
  font-weight: 600;
  background-color: #bbb;
}